<!DOCTYPE html>
<html ng-app="jaydot2" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jaydot2</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-flex.css">
    <link rel="stylesheet" href="css/bootstrap-flex.css.map">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css.map">
    <link rel="stylesheet" href="css/jquery.fullpage.css">
    <link rel="stylesheet" href="css/jquery.fullpage.min.css.map">
    <link rel="stylesheet" href="css/jaydot2.css">
</head>
<body>
    <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
            <!--
            <li data-menuanchor="#home" class="nav-item active">
                <a class="nav-link" href="#home">HOME <span class="sr-only">(current)</span></a>
            </li>
            -->
            <li data-menuanchor="#aboutus" class="nav-item">
                <a class="nav-link" href="#aboutus">ABOUT US</a>
            </li>
            <li data-menuanchor="#services" class="nav-item">
                <a class="nav-link" href="#services">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#support">SUPPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contactus">CONTACT US</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INFO
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>
                    <a class="dropdown-item" href="terms.html">Terms</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="images/Slide-1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="images/Slide-6.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="images/Slide-7.png" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="fullpage">

        <section class="vertical-scrolling">
            <div>
                <h1 class="section-caption"><a name="home">STARTING POINT</a></h1>
            </div>
            <div class="container">
                <div class="row">
                    Jaydot2 is a technical consulting and software development organization.  Our offerings include products, services and custom support options.
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="content-box-caption">Guiding Principles</h2>
                        <!--  -->
                        <p class="center-text">Client Focus</p>
                        <p class="center-text">Solution Oriented</p>
                        <p class="center-text">Platform Agnostic</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="vertical-scrolling">
            <div>
                <h1 class="section-caption"><a name="aboutus">ABOUT US</a></h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Jaydot2 / Continuous Wave 1550 was originally founded as Jaydot2, LLC, in 2006 as a web development consulting firm.  Since then we have branched into other areas including mobile development, cloud development and business consulting.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 blue-content">
                        <h2 class="content-box-caption">What We Believe</h2>
                        <p>
                            Jaydot2 / Continuous Wave 1550 was originally founded as Jaydot2, LLC, in 2006 as a web development consulting firm.  Since then we have branched into other areas including mobile development, cloud development and business consulting.
                        </p>
                    </div>
                    <div class="col-md-4 orange-content">
                        <h2 class="content-box-caption">The People</h2>
                        <p>
                            Jaydot2 is made up engineers, artists and writers who are dedicated to providing the best solutions possible to our clients.  We build flexible teams tailored to each project to maximize effectiveness and efficiency.
                        </p>
                    </div>
                    <div class="col-md-4 blue-content">
                        <h2 class="content-box-caption">Our Work</h2>
                        <p>
                            We work with clients in various vertical markets.  Our clients include:
                        </p>
                        <ul>
                            <li>Satterfield Services International</li>
                            <li>FLW International</li>
                            <li>Island Press</li>
                            <li>Yoga Avani</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="vertical-scrolling">
            <div>
                <h1 class="section-caption"><a name="services">SERVICES</a></h1>
            </div>
            <div class="container">
                We provide technical and business consulting services in several specialized areas.  Our services include mobile and web application development, content management system customization, software as a service (SAAS) implementation as well as other technical services.
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="content-box-caption">Mobile Application Development</h2>
                        <p>
                            We develop both native and web based mobile applications.  Applications that we have developed have been deployed on both app markets and internally for some organizations.  We focus on both web mobile and native mobile development projects.
                        </p>
                        <p>
                            We focus on Android and iOS development for native mobile application projects.  These two platforms provide the best support for rich user experiences in the current market.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="content-box-caption">Web Development</h2>
                        <p>
                            We provide web development services for our clients.  These services include creating entirely new web applications for our clients, updating existing websites and integrating websites with external social media channels and third party services.
                        </p>
                        <p>
                            We use Responsive Web Design principals in our web mobile development projects.  We develop sites that are elastic and can adjust themselves to many device screen sizes and orientations.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="content-box-caption">DevOps and Cloud Computing</h2>
                        <p>
                            We develop cloud based solutions for our clients using various public cloud providers, such as Amazon Web Services and Rackspace.  We also have experience developing in the private clouds such as IBM’s Blue Mix.
                        </p>
                        <p>
                            We provide customized cloud management services, which includes support applications using Amazon EC2, S3, Route 53, Identity Access and Management as well as others.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="vertical-scrolling">
            <div>
                <h1 class="section-caption"><a name="support">SUPPORT</a></h1>
            </div>
            <div class="container">
                We provide support services for our products and services online.  We also offer clients of our custom software solutions support contracts.  Please contact us to get more information on the support options we offer.
                <div class="row">
                    <div class="white-content col-md-6">
                        <h2 class="content-box-caption">Mobile App Support</h2>
                        <p class="center-text">
                            We provide online support to consumers of our Jaydot2 and Continuous Wave 1550 mobile apps.
                        </p>
                    </div>
                    <div class="green-content col-md-6">
                        <h2 class="content-box-caption">Custom Client Support</h2>
                        <p class="center-text">
                            We offer custom support options to our clients as well as online support for our standard products and services.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="vertical-scrolling">
            <div>
                <h1 class="section-caption"><a name="contactus">CONTACT US</a></h1>
            </div>
            <div class="container" ng-controller="contactUsController">
                We would love to hear from you.  Please take this opportunity to give us your thoughts and feedback.
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form class="form-horizontal">
                            <fieldset>

                                <!-- Form Name -->
                                <legend>Contact Us</legend>

                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-md-4 control-label" for="email">Email Address</label>
                                    <div class="col-md-4">
                                        <input id="email" name="email" placeholder="email@email.com" class="form-control input-md" type="text" ng-model="contactInfo.email" value="{{contactInfo.email}}">

                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="row form-group">
                                    <label class="col-md-4 control-label" for="comments">Comments</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="comments" name="comments" ng-model="contactInfo.message">{{contactInfo.message}}</textarea>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="row form-group">
                                    <label class="col-md-4 control-label" for="submit"></label>
                                    <div class="col-md-4">
                                        <button id="submit" name="submit" class="btn btn-primary" ng-click="submitContactUs(contactInfo)">Submit</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            Jaydot2, LLC, Copyright &copy; 2016
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/tether.min.js">In</script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/jaydot2.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 2000
        });

    </script>
</body>
</html>